.Input > input{
    border: 2px solid #3D3D3D;
    border-radius: 8px;
    height: 52px;
    padding: 0px 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    width: 350px;
    outline: none;
    margin-bottom: 8px;
}